numpy==1.24.3
pandas==2.0.1
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn==1.2.2
pillow==9.5.0
jupyter==1.0.0
ipykernel==6.22.0
opencv-python==4.7.0.72
fpdf==1.7.2
joblib==1.2.0
flask==2.3.3
werkzeug==2.3.7
importlib==1.0.4
